---
layout: default
eleventyComputed:
  title: section.name + " - Learn how to use DefiPlaza"
pagination:
  data: helpsections
  size: 1
  alias: section
  addAllPagesToCollections: true
permalink: '/help/{{ section.slug }}/'
---

{% set description = "👉 65% cheaper than Uniswap to swap tokens. 👉 Earn a 250% staking APR while passively investing in a basket of 16 ERC-20 tokens!" %}

<section class="md:container mx-4 md:mx-auto">
	<h1 class="text-center text-2xl md:text-4xl font-light"><a href="/help/">Learn how to use <strong class="font-bold text-primary-500">DefiPlaza</strong></a></h1>
	<h2 class="text-3xl md:text-6xl text-center px-0 mt-4 mb-8 relative">{{ section.name }}</h2>

	<div class="relative mt-16 p-4 md:p-20 bg-primary-700 rounded-lg md:rounded-3xl overflow-hidden">
		<div class="oval-gradient -top-80 -left-80"></div>

		{%- from "macros/card.njk" import card -%}

		<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
			{% for post in helps | category(section.id) %}
				{{ card({
						title: post.title.rendered,
						text: [post._embedded.author[0].name, " - ", post.date | wpDateToString] | join,
						description: post.content.rendered,
						url: ["/help/", post.slug] | join
					})
				}}
			{% endfor %}
		</div>	
	</div>
</section>