---
layout: default
title: "Learn how to use DefiPlaza"
permalink: '/help/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}/'
---

{% set description = "👉 65% cheaper than Uniswap to swap tokens. 👉 Earn a 250% staking APR while passively investing in a basket of 16 ERC-20 tokens!" %}

<section class="md:container mx-4 md:mx-auto">
	<h1 class="text-center fluid-60 dark:text-primary-100">Learn how to use <strong>DefiPlaza</strong></h1>

	<div class="relative mt-16 p-4 md:p-20 md:pt-4 bg-primary-700 rounded-lg md:rounded-3xl overflow-hidden">
		<div class="oval-gradient -top-80 -left-80"></div>

		{%- from "macros/card.njk" import card -%}

		{% for section in helpsections %}
			<h2 class="fluid-40 text-white text-center md:text-left px-0 md:px-8 my-8 md:mt-16 md:mb-8 relative" id="{{section.slug}}">{{ section.name }}</h2>	
			<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
				{% for post in helps | category(section.id) %}
					{{ card({
							title: post.title.rendered,
							description: post.content.rendered,
							url: ["/help/", post.slug] | join
						})
					}}
				{% endfor %}
			</div>	
		{% endfor %}		
	</div>
</section>