---
layout: default
eleventyComputed:
  title: "{{ post.title.rendered | safe }}"
pagination:
  data: helps
  size: 1
  alias: post
  addAllPagesToCollections: true
permalink: '/help/{{ post.slug }}/'
---

{% set title = post.title.rendered | safe %}
{% set description = "👉 65% cheaper than Uniswap to swap tokens. 👉 Earn a 250% staking APR while passively investing in a basket of 16 ERC-20 tokens!" %}

<section class="md:max-w-[65ch] mx-4 xl:mx-auto">
  <h2 class="fluid-40 leading-none mb-0 font-bold text-primary-500 dark:text-white">{{ post._embedded["wp:term"][0][0].name }}</h2>
	<h1 class="fluid-40 leading-none dark:text-primary-100">{{ post.title.rendered | safe }}</h1>

  <article class="prose dark:prose-invert mt-10">
    {{ post.content.rendered | wpUrls | safe }}
  </article>

  <div class="flex flex-row flex-wrap md:flex-nowrap justify-start mt-8 text-primary-500">
			<a href="/help/" class="btn-outline rounded-full">
				<span class="mt-px whitespace-nowrap">Back to support</span>
			</a>
      {# <a href="https://app.defiplaza.net/swap/" class="btn-primary rounded-full ml-4 inline-flex items-center">
				<span class="mt-px whitespace-nowrap">Launch app</span>
				{% include "partials/arrow-right.njk" %}
			</a> #}
	</div>
</section>

