<!DOCTYPE html>
<html lang="{{ site.lang }}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		{% if page.url == "/" %}
		<meta name="theme-color" content="#e1d6c5" media="(prefers-color-scheme: light)">
		<meta name="theme-color" content="#5d0fc0" media="(prefers-color-scheme: dark)">
		{% else %}
		<meta name="theme-color" content="#5d0fc0">
		{% endif %}

		{% if site.icon %}
			<link rel="shortcut icon" type="image/png" href="{{ site.icon }}"/>
		{% endif %}

		{%- block seo -%}
			<title>
				{%- if title -%}
					{{ title }} · {{ site.title }}
				{%- else -%}
					{{ site.title }} · {{ site.description }}
				{%- endif -%}
			</title>
			{%- if description -%}
			<meta name="description" content="{{ description }}">
			{%- endif -%}

			<!--Twitter Card-->
			<meta name="twitter:site" content="{{ site.twitter }}">
			<meta name="twitter:creator" content="{{ site.twitter }}">
			<meta name="twitter:card" content="summary_large_image">
			<meta name="twitter:url" content="{{ site.url + page.url }}">
			<meta name="twitter:title" content="{{ title + " · " + site.title if title else title }}">
			<meta name="twitter:description" content="{{ site.description }}">
			<meta name="twitter:image" content="{{ site.cover_image }}">

			<!--Schema-->
			<link rel="author" href="{{ site.url }}">
			<link rel="publisher" href="{{ site.url }}">
			<meta itemprop="name" content="{{ title + " · " + site.title if title else title }}">
			<meta itemprop="description" content="{{ site.description }}">
			<meta itemprop="image" content="{{ site.cover_image }}">

			<!-- Facebook OpenGraph -->
			<meta property="og:url" content="{{site.url + page.url}}">
			<meta property="og:type" content="website">
			<meta property="og:title" content="{{ title + " · " + site.title if title else title }}">
			<meta property="og:image" content="{{ site.cover_image }}">
			<meta property="og:description" content="{{ site.description }}">
			<meta property="og:site_name" content="{{ site.title }}">
			<meta property="og:locale" content="{{ site.lang }}">
			<meta property="article:author" content="{{ site.url }}">
		{%- endblock -%}

		<link rel="preconnect" href="https://app.defiplaza.net">
		<link rel="preload" href="/assets/fonts/NB_International_Pro_Light.otf" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="/assets/fonts/NB_International_Pro_Regular.otf" as="font" type="font/otf" crossorigin>
		<link rel="preload" href="/assets/fonts/NB_International_Pro_Medium.otf" as="font" type="font/otf" crossorigin>
		<link rel="preload" href="/assets/fonts/NB_International_Pro_Bold.otf" as="font" type="font/otf" crossorigin>
		<link rel="preload" href="https://use.typekit.net/af/6a6cae/00000000000000007735e5b2/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="/styles.css?v={{ version() }}" as="style">

		<link rel="stylesheet" href="/styles.css?v={{ version() }}">

		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-PL6PWXZ');</script>
		<!-- End Google Tag Manager -->
	</head>
	<body class="bg-white text-black nodark:bg-slate-800 nodark:text-slate-200">
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PL6PWXZ"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		{% block bare %}{% endblock %}
		
	</body>
</html>