<!DOCTYPE html>
<html lang="{{ site.lang }}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		{% if page.url == "/" %}
		<meta name="theme-color" content="#e1d6c5" media="(prefers-color-scheme: light)">
		<meta name="theme-color" content="#5d0fc0" media="(prefers-color-scheme: dark)">
		{% else %}
		<meta name="theme-color" content="#5d0fc0">
		{% endif %}

		{% if site.icon %}
			<link rel="shortcut icon" type="image/png" href="{{ site.icon }}"/>
		{% endif %}

		{%- block seo -%}
			<title>
				{%- if title -%}
					{{ title }} – {{ site.title }}
				{%- else -%}
					{{ site.title }} – {{ site.description }}
				{%- endif -%}
			</title>
			<meta name="description" content="{{ description if description else site.description }}">

			<!--Twitter Card-->
			<meta name="twitter:site" content="{{ site.twitter }}">
			<meta name="twitter:creator" content="{{ site.twitter }}">
			<meta name="twitter:card" content="summary_large_image">
			<meta name="twitter:url" content="{{ site.url + page.url }}">
			<meta name="twitter:title" content="{{ title + " – " + site.title if title else title }}">
			<meta name="twitter:description" content="{{ site.description }}">
			<meta name="twitter:image" content="{{ site.cover_image }}">

			<!--Schema-->
			<link rel="author" href="{{ site.url }}">
			<link rel="publisher" href="{{ site.url }}">
			<meta itemprop="name" content="{{ title + " – " + site.title if title else title }}">
			<meta itemprop="description" content="{{ site.description }}">
			<meta itemprop="image" content="{{ site.cover_image }}">

			<!-- Facebook OpenGraph -->
			<meta property="og:url" content="{{site.url + page.url}}">
			<meta property="og:type" content="website">
			<meta property="og:title" content="{{ title + " – " + site.title if title else title }}">
			<meta property="og:image" content="{{ site.cover_image }}">
			<meta property="og:description" content="{{ site.description }}">
			<meta property="og:site_name" content="{{ site.title }}">
			<meta property="og:locale" content="{{ site.lang }}">
			<meta property="article:author" content="{{ site.url }}">
		{%- endblock -%}

		{# <link rel="preload" href="/styles.css" as="style"> #}
		<link rel="stylesheet" href="/styles.css?v={{ version() }}">
		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	</head>
	<body class="bg-white text-black dark:bg-slate-800 dark:text-slate-200">

		{% block bare %}{% endblock %}
		
	</body>
</html>