{% extends 'layouts/bare.njk' %}

{% block bare %}
	{% include "partials/header.njk" %}

	<main class="mt-32">
		{% block content %}
		{{ content | safe }}
		{% endblock %}
	</main>

	{% include "partials/footer.njk" %}
{% endblock %}