{% extends 'layouts/default.njk' %}

{% set title = post.title.rendered %}

{% block content %}
	<article class="prose mx-auto">
		{% if post.feature_image %}
			<figure class="post-feature-image">
				<img src="{{ post.feature_image }}" alt="{{ title }}">
			</figure>
		{% endif %}

		<section>
			<h1>{{ post.title.rendered }}</h1>
			<section>
				{{ post.content.rendered | safe }}
			</section>
		</section>
	</article>
{% endblock %}

{%- block seo -%}
	{{ post.yoast_head | safe }}
{%- endblock -%}