{% extends 'layouts/default.njk' %}

{% set title = post.title.rendered | safe %}

{% block content %}
<section class="xl:container mx-4 xl:mx-auto">
	<h1 class="text-center text-3xl md:text-6xl font-light">{{ post.title.rendered | safe }}</h1>
	<p class="mt-4 text-center text-base text-primary-500 dark:text-primary-100">{{ post._embedded.author[0].name }} - {{ post.date | wpDateToString }}</p>

	<article class="prose dark:prose-invert dark:text-white mx-auto mt-10">
		{% if post.feature_image %}
			<figure class="post-feature-image">
				<img src="{{ post.feature_image }}" alt="{{ title }}">
			</figure>
		{% endif %}

		{{ post.content.rendered | wpUrls | safe }}
	</article>
</section>
{% endblock %}

{%- block seo -%}
	{{ post.yoast_head | wpUrls | safe }}
{%- endblock -%}