---
layout: default
eleventyComputed:
  title: "Promote DefiPlaza with these OnePagers and Moonsheet"
---

<section class="container mx-auto">
  <h1 class="fluid-60 text-center text-6xl dark:text-primary-100">Promote <strong>DefiPlaza</strong></h1>

  <div class="relative grid grid-cols-2 md:grid-cols-3 gap-4 mt-16 p-4 md:p-20 bg-primary-700 md:rounded-3xl overflow-hidden">
    <div class="oval-gradient -top-80 -left-80"></div>

	<div class="z-10 py-16 px-8 flex flex-col justify-between rounded-lg shadow-md bg-white dark:bg-slate-800 hover:shadow-xl transition-shadow duration-300 ease-in-out content-end">
		<a href="/assets/pdf/DefiPlaza-One-Pager-Full.pdf" target="_blank">
			<img class="w-64 mx-auto" src="/assets/images/onepagers/DefiPlaza-One-Pager-Full.jpg">
			<p class="text-base text-center mt-2">OnePager Full</p>
		</a>
	</div>

	<div class="z-10 py-16 px-8 flex flex-col justify-between rounded-lg shadow-md bg-white dark:bg-slate-800 hover:shadow-xl transition-shadow duration-300 ease-in-out content-end">
		<a href="/assets/pdf/DefiPlaza-One-Pager-Light.pdf" target="_blank">
			<img class="w-64 mx-auto" src="/assets/images/onepagers/DefiPlaza-One-Pager-Light.jpg">
			<p class="text-base text-center mt-2">OnePager Light</p>
		</a>
	</div>

  </div>
</section>