---
layout: default
eleventyComputed:
  title: "Promote DefiPlaza with these OnePagers and Moonsheet"
  description: "Help us promote DefiPlaza on your favorite channels!"
  social_image: "/assets/images/onepagers/DefiPlaza-One-Pager-Light.jpg"
---

<section class="container mx-auto">
  <h1 class="fluid-60 text-center text-6xl dark:text-primary-100">Help us promote <strong>DefiPlaza</strong></h1>

  <div class="flex justify-center items-center w-full mt-8 space-x-4 text-center">
		<p>Our social media channels:</p>
		<p class="text-primary-500 hover:text-primary-300 dark:text-white dark:hover:text-primary-100"><a href="https://twitter.com/defiplaza" target="_blank">{% include 'svg/socials/twitter.svg' %}</a></p>
		<p class="text-primary-500 hover:text-primary-300 dark:text-white dark:hover:text-primary-100"><a href="https://defiplaza.net/discord" target="_blank">{% include 'svg/socials/discord.svg' %}</a></p>
		<p class="text-primary-500 hover:text-primary-300 dark:text-white dark:hover:text-primary-100"><a href="https://t.me/defiplaza" target="_blank">{% include 'svg/socials/telegram.svg' %}</a></p>
	</div>

 	<div class="relative mt-16 p-4 md:p-20 md:pt-4 bg-primary-700 rounded-lg md:rounded-3xl overflow-hidden">
		<div class="oval-gradient -top-80 -left-80"></div>

		<h2 class="fluid-40 text-white text-center md:text-left px-0 md:px-8 my-8 md:mt-16 md:mb-8 relative">One-Pagers and Moonsheet</h2>	

		<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">

			<div class="z-10 py-16 px-8 flex flex-col justify-between rounded-lg shadow-md bg-white dark:bg-slate-800 hover:shadow-xl transition-shadow duration-300 ease-in-out">
				<a href="/assets/images/onepagers/DefiPlaza-One-Pager-Full.png" target="_blank" class="mt-auto">
					<img class="w-64 mx-auto" src="/assets/images/onepagers/DefiPlaza-One-Pager-Full.jpg">
					<p class="text-base text-center mt-2">OnePager Full</p>
				</a>
				<p class="text-base text-center mt-2"><a href="/assets/images/onepagers/DefiPlaza-One-Pager-Full.png" target="_blank" class="text-primary-500 underline">PNG</a> / <a href="/assets/pdf/DefiPlaza-One-Pager-Full.pdf" target="_blank" class="text-primary-500 underline">PDF</a></p>
			</div>

			<div class="z-10 py-16 px-8 flex flex-col justify-between rounded-lg shadow-md bg-white dark:bg-slate-800 hover:shadow-xl transition-shadow duration-300 ease-in-out">
				<a href="/assets/images/onepagers/DefiPlaza-One-Pager-Light.png" target="_blank" class="mt-auto">
					<img class="w-64 mx-auto" src="/assets/images/onepagers/DefiPlaza-One-Pager-Light.jpg">
					<p class="text-base text-center mt-2">OnePager Light</p>
				</a>
				<p class="text-base text-center mt-2"><a href="/assets/images/onepagers/DefiPlaza-One-Pager-Light.png" target="_blank" class="text-primary-500 underline">PNG</a> / <a href="/assets/pdf/DefiPlaza-One-Pager-Light.pdf" target="_blank" class="text-primary-500 underline">PDF</a></p>
			</div>

			<div class="z-10 py-16 px-8 flex flex-col justify-between rounded-lg shadow-md bg-white dark:bg-slate-800 hover:shadow-xl transition-shadow duration-300 ease-in-out">
				<a href="/assets/images/onepagers/DefiPlaza-Moonsheet.png" target="_blank" class="mt-auto">
					<img class="w-64 mx-auto" src="/assets/images/onepagers/DefiPlaza-Moonsheet.jpg">
					<p class="text-base text-center mt-2">Moonsheet</p>
				</a>
				<p class="text-base text-center mt-2"><a href="/assets/images/onepagers/DefiPlaza-Moonsheet.png" target="_blank" class="text-primary-500 underline">PNG</a> / <a href="/assets/pdf/DefiPlaza-Moonsheet.pdf" target="_blank" class="text-primary-500 underline">PDF</a></p>
			</div>
		</div>

		<h2 class="fluid-40 text-white text-center md:text-left px-0 md:px-8 my-8 md:mt-16 md:mb-8 relative">Logo and icons</h2>	

		<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
			<div class="z-10 py-16 px-8 flex flex-col justify-between rounded-lg shadow-md bg-white dark:bg-slate-800 hover:shadow-xl transition-shadow duration-300 ease-in-out">
				<a href="https://static.defiplaza.net/website/uploads/2022/06/01162754/defiplaza-logo.png" target="_blank" class="mt-auto">
					<img class="w-64 mx-auto" src="https://static.defiplaza.net/website/uploads/2022/06/01162754/defiplaza-logo.png">
					<p class="text-base text-center mt-2">Logo</p>
				</a>
				<p class="text-base text-center mt-2"><a href="https://static.defiplaza.net/website/uploads/2022/06/01162754/defiplaza-logo.png" target="_blank" class="text-primary-500 underline">PNG</a> / <a href="/assets/images/logo/logo.svg" target="_blank" class="text-primary-500 underline">SVG</a></p>
			</div>
		
			<div class="z-10 py-16 px-8 flex flex-col justify-between rounded-lg shadow-md bg-white dark:bg-slate-800 hover:shadow-xl transition-shadow duration-300 ease-in-out">
				<a href="https://static.defiplaza.net/website/uploads/2022/02/25160151/round-profile.png" target="_blank" class="mt-auto">
					<img class="w-64 mx-auto" src="https://static.defiplaza.net/website/uploads/2022/02/25160151/round-profile.png">
					<p class="text-base text-center mt-2">Icon Purple</p>
				</a>
				<p class="text-base text-center mt-2"><a href="https://static.defiplaza.net/website/uploads/2022/02/25160151/round-profile.png" target="_blank" class="text-primary-500 underline">PNG</a> / <a href="/assets/images/logo/icon.svg" target="_blank" class="text-primary-500 underline">SVG</a></p>
			</div>
		
			<div class="z-10 py-16 px-8 flex flex-col justify-between rounded-lg shadow-md bg-white dark:bg-slate-800 hover:shadow-xl transition-shadow duration-300 ease-in-out">
				<a href="https://static.defiplaza.net/website/uploads/2022/02/23175825/twitter-profile-400x400-1.png" target="_blank" class="mt-auto">
					<img class="w-64 mx-auto" src="https://static.defiplaza.net/website/uploads/2022/02/23175825/twitter-profile-400x400-1.png">
					<p class="text-base text-center mt-2">Icon White</p>
				</a>
				<p class="text-base text-center mt-2"><a href="https://static.defiplaza.net/website/uploads/2022/02/23175825/twitter-profile-400x400-1.png" target="_blank" class="text-primary-500 underline">PNG</a> / <a href="/assets/images/logo/icon-white.svg" target="_blank" class="text-primary-500 underline">SVG</a></p>
			</div>
		</div>

  </div>
</section>