---
pagination:
  data: updates
  size: 5
  alias: posts
  addAllPagesToCollections: true
layout: 'layouts/default.njk'
permalink: '/update/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}/'
---

<h1>Latest updates from DefiPlaza</h1>
<ul>
{%- for post in posts %}
<li class="py-8">
	<h3 class="text-primary-700 font-bold text-2xl">
		<a href="/update/{{ post.slug }}">{{ post.title.rendered | safe }}</a>
	</h3>
	<p class="text-primary-500 text-xs mt-2">{{ post._embedded.author[0].name }} - {{ post.date | wpDateToString }}</p>
	<div class="mt-2">{{ post.excerpt.rendered | safe }}</div>
</li>
{%- endfor %}
</ul>


{% if pagination.href.previous %}
  <a href="{{pagination.href.previous}}">Previous Page</a>
{% endif %}
{% if pagination.href.next %}
  <a href="{{pagination.href.next}}">Next Page</a>
{% endif %}

<h2>Latest blog posts</h2>
