---
layout: default
pagination:
  data: tokens
  size: 24
  addAllPagesToCollections: true
permalink: '/tokens/'
---

<section class="container mx-auto">
	<h1 class="text-center text-6xl font-light">Tokens on <strong class="font-bold text-primary-500">DefiPlaza</strong></h1>

    <div class="grid grid-cols-3 gap-4">
    {%- for token in tokens %}
    <div class="">
      <a href="/token/{{ token.symbol | lower }}/">
        <img src="/assets/images/tokens/{{ token.symbol | lower }}.svg">
        <span></span>
      </a>
    {%- endfor %}
    </div>

</section>
