---
layout: default
pagination:
  data: tokens
  size: 1
  alias: token
  addAllPagesToCollections: true
permalink: '/token/{{ token.symbol }}/'
---

<section class="container mx-auto">
  <h2 class="text-4xl font-bold text-primary-500">{{ post._embedded["wp:term"][0].name }}</h2>
	<h1 class="text-4xl font-light">{{ token.title.rendered | safe }}</h1>

  <article class="prose mt-10">
    {{ token.content.rendered | safe }}
  </article>
</section>
