---
layout: default
eleventyComputed:
  title: "Latest articles from DefiPlaza"
pagination:
  data: posts
  size: 10
  alias: posts
  addAllPagesToCollections: true
permalink: '/blog/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}/'
---

{% set description = "👉 65% cheaper than Uniswap to swap tokens. 👉 Earn a 250% staking APR while passively investing in a basket of 16 ERC-20 tokens!" %}

{# Latest Updates #}
<section class="xl:container mx-4 xl:mx-auto">
  <h1 class="fluid-60 text-center dark:text-primary-100t">Latest articles from <strong>DefiPlaza</strong></h1>

  <ul class="md:w-3/5 md:mx-auto mt-10 md:px-0 divide-y divide-background-700 dark:divide-primary-500">
    {# {% set latest_updates = updates | slice(3) %} #}
    {# {% for post in latest_updates[0] %} #}
    {% for post in posts %}
      <li class="py-8">
        <h3 class="text-primary-500 dark:text-white font-bold text-2xl">
          <a href="/blog/{{ post.slug }}/">{{ post.title.rendered | safe }}</a>
        </h3>
        <p class="text-primary-500 dark:text-primary-100 text-xs mt-2">{{ post._embedded.author[0].name }} - {{ post.date | wpDateToString }}</p>
        <div class="mt-2 line-clamp-3">{{ post.excerpt.rendered | striptags }}</div>
      </li>
    {% endfor %}
  </ul>

  <div class="flex justify-center mt-4">
    {% if pagination.href.previous %}
      <a class="btn-outline" href="{{pagination.href.previous}}">Previous Page</a>
    {% endif %}
    {% if pagination.href.next %}
      <a class="btn-outline" href="{{pagination.href.next}}">Next Page</a>
    {% endif %}
  </div>
</section>