@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5 {
		@apply font-light;
	}

	.prose a {
		@apply text-primary-500;
	}
	.prose figcaption {
		@apply text-center;
	}

	.hide-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
	.hide-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.rot45deg {
		transform: rotate(45deg);
		top: 8px !important;
	}

	.rot-45deg {
		transform: rotate(-45deg);
		top: -8px !important;
	}

	.svg-alt-color {
		@apply fill-white; /* dark:fill-slate-800;*/
	}
	.text-white .svg-alt-color {
		@apply fill-primary-700;
	}
}

@layer components {
	.btn-primary {
		@apply bg-primary-500 text-white /*dark:text-slate-200*/ text-sm font-medium leading-none uppercase tracking-wider rounded py-3 px-4 inline-flex items-center;
	}

	.btn-outline {
		@apply btn-primary bg-transparent text-primary-500 border-2 border-primary-500;
	}

	.btn-white {
		@apply btn-primary bg-white /*dark:bg-slate-200*/ text-primary-700;
	}

	.oval-gradient {
		position: absolute;
		width: 40rem;
		height: 40rem;
		opacity: 0.5;
		-webkit-filter: blur(50px);
		filter: blur(50px);
		background-image: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.75), #5d0fc0 41%, #5d0fc0 91%);
	}

	.scrollable::-webkit-scrollbar {
		height: 0.4rem;
		width: 0.4rem;
	}
	.scrollable::-webkit-scrollbar-track {
		background: #5d0fc0;
	}
	.scrollable::-webkit-scrollbar-thumb {
		background-color: #fff;
		border-radius: 20px;
	}
}

/**
 * Custom fonts
 */
@layer base {
	@import url('https://use.typekit.net/ihx6vgy.css');

	@font-face {
		font-family: 'NB_International_Pro';
		src: url('/assets/fonts/NB_International_Pro_Regular.otf');
		font-display: swap;
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'NB_International_Pro';
		src: url('/assets/fonts/NB_International_Pro_Bold.otf');
		font-display: swap;
		font-weight: bold;
		font-style: normal;
	}

	@font-face {
		font-family: 'NB_International_Pro';
		src: url('/assets/fonts/NB_International_Pro_Light.otf');
		font-display: swap;
		font-weight: 300;
		font-style: normal;
	}

	@font-face {
		font-family: 'NB_International_Pro';
		src: url('/assets/fonts/NB_International_Pro_Medium.otf');
		font-display: swap;
		font-weight: 500;
		font-style: normal;
	}

	@font-face {
		font-family: 'NB_International_Pro';
		src: url('/assets/fonts/NB_International_Pro_Light.otf');
		font-display: swap;
		font-weight: 300;
		font-style: normal;
	}
}
