@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: geometricPrecision;
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		@apply font-light tracking-tighter;
	}

	h1 strong {
		@apply font-bold text-primary-500 dark:text-white;
	}

	.fluid-100 {
		font-size: max(min(6.94vw, 6.25rem), 2.75rem); /*1vw = 14.4px */
		line-height: 1;
	}
	.fluid-60 {
		font-size: max(min(4.16vw, 3.75rem), 1.875rem); /*1vw = 14.4px */
	}
	.fluid-40 {
		font-size: max(min(2.78vw, 2.5rem), 1.875rem); /*1vw = 14.4px */
	}
	.fluid-30 {
		font-size: max(min(2.08vw, 1.875rem), 1.5rem); /*1vw = 14.4px */
	}

	.prose a {
		@apply text-primary-500 dark:text-primary-100;
	}
	.prose figcaption {
		@apply text-center;
	}

	.hide-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
	.hide-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.rot45deg {
		transform: rotate(45deg);
		top: 4px !important;
	}

	.rot-45deg {
		transform: rotate(-45deg);
		top: -4px !important;
	}

	.svg-alt-color {
		@apply fill-white; /* dark:fill-slate-800;*/
	}
	.text-white .svg-alt-color {
		@apply fill-primary-700;
	}
}

@layer components {
	.btn-primary {
		@apply bg-primary-500 hover:bg-primary-300 dark:bg-white dark:hover:bg-primary-100 text-white dark:text-primary-500 text-sm font-medium leading-none uppercase tracking-wider rounded py-3 px-4 inline-flex items-center;
	}

	.btn-outline {
		@apply btn-primary bg-transparent hover:bg-transparent text-primary-500 hover:text-primary-300 dark:text-white dark:hover:text-primary-100 border-2 border-primary-500 hover:border-primary-300 dark:border-white dark:hover:border-primary-100;
	} 

	.btn-white {
		@apply btn-primary bg-white hover:bg-primary-100 dark:bg-primary-800 text-primary-700 dark:text-white;
	}

	.oval-gradient {
		position: absolute;
		width: 40rem;
		height: 40rem;
		-webkit-filter: blur(50px);
		filter: blur(50px);
		background-image: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.75), #5d0fc0 41%, #5d0fc0 91%);
		@apply opacity-50 dark:opacity-25
	}

	.scrollable::-webkit-scrollbar {
		height: 0.4rem;
		width: 0.4rem;
	}
	.scrollable::-webkit-scrollbar-track {
		@apply bg-primary-500;
	}
	.scrollable::-webkit-scrollbar-thumb {
		@apply bg-white dark:bg-primary-100;
		border-radius: 20px;
	}

	@keyframes pulsar {
		0% {
			opacity: 1;
			transform: scale(1);
		}
		50% {
			opacity: 0;
			transform: scale(0.75);
		}
		100% {
			opacity: 1;
			transform: scale(1);
		}
	}

	.loading-dot {
		@apply bg-primary-300;

		display: inline-block;
		height: 0.25em;
		width: 0.25em;
		margin-right: 0.25em;
		border-radius: 50%;
		animation: pulsar 1.5s infinite ease-in-out;
		animation-delay: calc(var(--order) * 100ms);
	}
	.loading-indicator {
		padding-left: 0.5rem;
		/*padding-top: 0rem;*/
		max-height: 0.75rem;
		max-width: 10rem;
		overflow-x: hidden;
		transition: max-width 0.5s ease-in;
	}

	.webp .hero-preload {
		background-image: url('/assets/images/home/hero-sequence.webp');
	}
	.no-webp .hero-preload {
		background-image: url('/assets/images/home/hero-preload-trimmed.png');
	}

	.webp .hero-sequence {
		/* already loaded */
	}
	.no-webp .hero-sequence {
		background-image: url('/assets/images/home/hero-sequence-trimmed@1x.png');
		background-image: -webkit-image-set(url('/assets/images/home/hero-sequence-trimmed@1x.png') 1x, url('/assets/images/home/hero-sequence-trimmed@2x.png') 2x);
		background-image: image-set(url('/assets/images/home/hero-sequence-trimmed@1x.png') 1x, url('/assets/images/home/hero-sequence-trimmed@2x.png') 2x);
	}
}

/**
 * Custom fonts
 */
@layer base {
	@font-face {
		font-family: 'NB_International_Pro';
		src: url('/assets/fonts/NB_International_Pro_Light.woff2');
		font-display: swap;
		font-weight: 300;
		font-style: normal;
	}

	@font-face {
		font-family: 'NB_International_Pro';
		src: url('/assets/fonts/NB_International_Pro_Medium.woff2');
		font-display: swap;
		font-weight: 500;
		font-style: normal;
	}

	@font-face {
		font-family: 'NB_International_Pro';
		src: url('/assets/fonts/NB_International_Pro_Bold.woff2');
		font-display: swap;
		font-weight: bold;
		font-style: normal;
	}

	@font-face {
		font-family: 'NB_International_Pro';
		src: url('/assets/fonts/NB_International_Pro_Regular.woff2');
		font-display: swap;
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'ivypresto-display';
		src: url('https://use.typekit.net/af/6a6cae/00000000000000007735e5b2/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3') format('woff2'),
			url('https://use.typekit.net/af/6a6cae/00000000000000007735e5b2/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3') format('woff'),
			url('https://use.typekit.net/af/6a6cae/00000000000000007735e5b2/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3') format('opentype');
		font-display: swap;
		font-style: italic;
		font-weight: 100;
	}

	@font-face {
		font-family: 'ivypresto-display';
		src: url('https://use.typekit.net/af/4f9700/00000000000000007735e5a7/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3') format('woff2'),
			url('https://use.typekit.net/af/4f9700/00000000000000007735e5a7/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3') format('woff'),
			url('https://use.typekit.net/af/4f9700/00000000000000007735e5a7/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3') format('opentype');
		/* font-display:swap; */
		font-style: italic;
		font-weight: 400;
	}

	@font-face {
		font-family: 'ivypresto-display';
		src: url('https://use.typekit.net/af/343df8/00000000000000007735e5b3/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3') format('woff2'),
			url('https://use.typekit.net/af/343df8/00000000000000007735e5b3/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3') format('woff'),
			url('https://use.typekit.net/af/343df8/00000000000000007735e5b3/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3') format('opentype');
		/* font-display:swap; */
		font-style: normal;
		font-weight: 400;
	}
}
