---
pagination:
  data: updates
  size: 5
  alias: latest_updates
---
{% extends 'layouts/bare.njk' %}

{% set title = "DefiPlaza: The low-cost exchange on Ethereum" %}
{% set description = "👉 65% cheaper than Uniswap to swap tokens. 👉 Earn a 250% staking APR while passively investing in a basket of 16 ERC-20 tokens!" %}
{% set backgroundSize = "140" %}

{% block bare %}
{% include "partials/header.njk" %}

<div class="relative -mt-[71px] pt-[71px] bg-background-500 nodark:bg-stone-800" id="heroSection">
	{# Sequence #}
	<div class="fixed top-0 right-0 bg-center-top bg-no-repeat bg-static h-[140vh] w-[100vh] z-0" style="background-image: -webkit-image-set( url('/assets/images/home/sequence-3.png') 1x, url('/assets/images/home/sequence-3.png') 2x ); background-size: auto {{ backgroundSize }}vh;" id="sequence">&nbsp;</div>

	{# Hero #}
	<section class="relative container h-[90vh] md:h-[65vh] mx-auto px-4 md:px-0 flex flex-col justify-center items-center z-10 bg-background-500/50 md:bg-transparent md:bg-gradient-to-b md:from-background-500">
		<h1 class="text-5xl md:text-8xl text-center">The <span class="italic font-serif">low-cost</span> exchange<br> on Ethereum.</h1>
		<h2 class="text-xl mt-4 text-center">Swap, earn &amp; stake with up to <span class="font-bold">65% less costs</span> than UniSwap.</h2>
		<div class="flex flex-row flex-wrap md:flex-nowrap justify-center mt-8 text-primary-500">
			<a href="https://app.defiplaza.net/swap" class="btn-primary inline-flex items-center">
				<span class="mt-px whitespace-nowrap">Get started</span>
				{% include "partials/arrow-right.njk" %}
			</a>
			<a href="/help/" class="btn-outline ml-4">
				<span class="mt-px whitespace-nowrap">More information</span>
			</a>

			{% include "partials/socials.njk" %}
		</div>
	</section>

	{# USPs #}
	<section class="relative container mx-auto flex flex-col-reverse md:flex-row">
		<div class="md:w-1/2 z-10 bg-white nodark:bg-slate-900 md:rounded-tr-3xl md:rounded-br-3xl pb-[25vh] pt-11 md:py-24 px-4 md:px-20">
			<h2 class="text-3xl md:text-4xl"><strong class="font-bold text-primary-500">DefiPlaza</strong> is a decentralized exchange on Ethereum.</h2>
			<p class="mt-4">Like other exchanges, it offers trades between tokens by functioning as an Automated Market Maker (AMM).</p>
			<p class="mt-4">What makes DefiPlaza special is a <i>single-contract</i>, <i>highly optimized DEX</i>, designed to offer the lowest possible trade cost to the end user. Gas costs per trade are the lowest in the industry, and the transaction fees are very competitive at 0.1% of value traded.</p>
			<a href="/blog/making-defi-on-ethereum-affordable-again" class="btn-primary rounded-full inline-flex items-center mt-4">
				<span class="mt-px whitespace-nowrap">Read more</span>
				{% include "partials/arrow-right.njk" %}
			</a>

			<hr class="mt-16 border-background-700">

			<div class="mt-16 gs_reveal gs_reveal_fromLeft">
				<h3 class="text-3xl font-bold text-primary-500">Swap 65% cheaper</h3>
				<p class="text-3xl font-light">than any other DEX.</p>
			</div>

			<div class="mt-16 gs_reveal gs_reveal_fromLeft">
				<h3 class="text-3xl font-bold text-primary-500">Invest in a basket of 16 tokens</h3>
				<p class="text-3xl font-light">like an ETF fund.</p>
			</div>

			<div class="mt-16 gs_reveal gs_reveal_fromLeft">
				<h3 class="text-3xl font-bold text-primary-500">Stake your tokens</h3>
				<p class="text-3xl font-light">and receive a <span id="aprUSP"></span> APR.</p>
			</div>
		</div>

		{# Stats #}
		<div class="relative w-full md:w-1/2 z-10">
			<ul class="absolute z-10 bottom-0 md:top-24 md:right-0 w-full md:w-fit max-h-min p-4 md:px-8 space-x-8 flex justify-center bg-primary-500 text-white md:rounded-lg text-center" id="stats">
				<li>
					<p class="text-2xl md:text-3xl font-bold whitespace-nowrap">
						<span id="tvl" class="text-primary-500">$0.00</span>
						<span id="tvlSuffix" class="text-base font-light align-middle">&nbsp;</span>
					</p>
					<h3 class="text-sm whitespace-nowrap">Liquidity</h3>
				</li>
				<li>
					<p class="text-2xl md:text-3xl font-bold whitespace-nowrap">120</p>
					<h3 class="text-sm whitespace-nowrap">Trading pairs</h3>
				</li>
				<li>
					<p class="text-2xl md:text-3xl font-bold whitespace-nowrap">0.1<span class="text-base font-light align-middle">%</span></p>
					<h3 class="text-sm whitespace-nowrap">Swapping fee</h3>
				</li>
				<li>
					<p class="text-2xl md:text-3xl font-bold whitespace-nowrap">
					<span id="apr" class="text-primary-500">000</span>
					<span class="text-base font-light align-middle">%</span></p>
					<h3 class="text-sm whitespace-nowrap">APR</h3>
				</li>
			</ul>
		</div>
	</section>
</div>

<div class="relative bg-primary-700 w-screen md:-mt-12 overflow-hidden">
	<div class="oval-gradient -top-80 -right-80"></div>
	<div class="oval-gradient -bottom-80 -left-80"></div>

	{# Support #}
	<section class="container flex flex-col mx-auto py-20 mt-20">
	
		<h2 class="relative md:hidden text-center text-4xl text-white">Learn how to<br>use <strong>DefiPlaza</strong>.</h2>
		
		<div class="flex items-center mt-6 md:mt-0 pb-10">

			<div class="hidden md:block snap-start px-3">
				<h2 class="mr-32 text-4xl text-white">Learn how to<br>use <strong>DefiPlaza</strong>.</h2>
			</div>

			<div class="flex items-stretch snap-x snap-mandatory overflow-x-auto py-8 scrollable">
				<div class="flex flex-nowrap">
					{% for section in helpsections %}
						<div class="z-10 snap-start flex flex-col justify-between h-full w-[150rem] py-16 mx-4 px-8 max-w-xs overflow-hidden rounded-lg shadow-md bg-white nodark:bg-slate-900 hover:shadow-xl transition-shadow duration-300 ease-in-out">
							<h3 class="text-3xl font-bold text-primary-500">{{ section.name }}</h3>
							<p class="mt-4 text-lg">{{ section.description }}</p>
							<a href="/help/{{ section.slug }}" class="mt-16 btn-primary rounded-full w-min">
								<svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="arrow-right" class="w-4 h-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
									<path fill="currentcolor" d="M218.101 38.101L198.302 57.9c-4.686 4.686-4.686 12.284 0 16.971L353.432 230H12c-6.627 0-12 5.373-12 12v28c0 6.627 5.373 12 12 12h341.432l-155.13 155.13c-4.686 4.686-4.686 12.284 0 16.971l19.799 19.799c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L235.071 38.101c-4.686-4.687-12.284-4.687-16.97 0z"></path>
								</svg>
							</a>
						</div>
					{% endfor %}
					
				</div>
			</div>
		</div>

		<div class="container mx-auto flex flex-wrap items-center mt-15 text-white">
			<img src="/assets/images/home/pillar.png" srcset="/assets/images/home/pillar@2x.png 2x, /assets/images/home/pillar@3x.png 3x" class="mx-4 md:mx-0 w-auto md:w-1/2">
			<div class="mx-auto mt-8 md:mt-0 md:ml-32">
				<h3 class="text-2xl">Are you feeling lost?</h3>
				<p class="mt-2">Make sure to check out our support section.</p>
				<div class="flex space-between-4">
					<a href="/help/" class="btn-white rounded-full mt-4">
						<span class="mt-px whitespace-nowrap">Get Support</span>
						{% include "partials/arrow-right.njk" %}
					</a>
				</div>
			</div>
		</div>
	</section>

	{# Roadmap #}
	<section class="relative min-h-screen w-screen mx-auto flex items-center" id="roadmap">
		<div class="mx-auto">
			<h2 class="mt-20 text-4xl text-white text-center"><strong>Our roadmap.</strong> This is what keeps us busy.</h2>

			<div class="container mx-auto flex overflow-x-scroll mt-14 pb-10 md:scrollable" id="roadmap">
				<div class="relative flex flex-wrap md:flex-nowrap items-stretch" id="roadmapItems">
					{# <p class="absolute m-auto top-0 bottom-0 text-9xl left-16 text-primary-500 z-10">Past</p>
					<p class="absolute">Future</p> #}

				{% for roadmap in roadmaps %}
					{% if loop.index0 % 4 == 0 %}
						{% set margin = 'md:mt-8' %}
					{% elif loop.index0 % 4 == 1 or loop.index0 % 4 == 3 %}
						{% set margin = 'md:mt-80' %}
					{% elif loop.index0 % 4 == 2 %}
						{% set margin = 'md:mt-32' %}
					{% endif %}

					<div class="md:w-40 snap-start overflow-x-visible border-l border-dashed border-primary-300 ml-4 md:pb-8">
						<div class="relative bg-white nodark:bg-slate-900 rounded-lg w-80 min-h-40 mt-4 {{ margin }} ml-6 p-6 pr-8">
							<div class="absolute top-5 -left-8 rounded-full w-4 h-4 bg-white nodark:bg-slate-900"></div>
							{% if loop.index0 % 4 == 2 %}
							<div class="hidden md:block absolute w-0.5 h-16 bg-white nodark:bg-slate-900 -top-16 left-[100px]"></div>
							<div class="hidden md:block absolute w-0.5 h-24 bg-white nodark:bg-slate-900 -bottom-24 left-[100px]"></div>
							{% endif %}

							<h3 class="text-lg text-primary-500"><Strong>{{ roadmap.acf.roadmap_item_date }}</strong> {{ roadmap.title.rendered | safe }}</h3>
							<p class="text-xs mt-4">{{ roadmap.excerpt.rendered | striptags }}</p>
						</div>
					</div>

					{% if loop.index0 % 2 == 1 or loop.index0 % 4 == 2 %}
					<div class="hidden md:block w-40 h-full overflow-x-visible border-l border-dashed border-primary-300 ml-4 pb-8">&nbsp;</div>
					{% endif %}

				{% endfor %}				
				</div>
			</div>
		</div>
	</section>

	{# Latest Updates #}
	<section class="relative w-screen mx-auto pt-32">
		<div class="flex justify-center space-x-8">
			<h2 class="text-4xl text-white text-center">Latest news from <strong>DefiPlaza</strong>.</h2>
			<a href="/update/" class="btn-primary bg-primary-300 rounded-full hidden md:inline-flex items-center">
			<span class="mt-px whitespace-nowrap">All updates</span>
			{% include "partials/arrow-right.njk" %}
			</a>
		</div>
		<ul class="md:w-3/5 mx-4 md:mx-auto mt-10 px-4 md:px-8 bg-white nodark:bg-slate-900 rounded-lg divide-y divide-primary">
			{# {% set latest_updates = updates | slice(3) %} #}
			{# {% for post in latest_updates[0] %} #}
			{% for post in latest_updates %}
				<li class="py-8">
					<h3 class="text-primary-500 font-bold text-2xl">
						<a href="/update/{{ post.slug }}">{{ post.title.rendered | safe }}</a>
					</h3>
					<p class="text-primary-500 text-xs mt-2">{{ post._embedded.author[0].name }} - {{ post.date | wpDateToString }}</p>
					<div class="mt-2 line-clamp-3">{{ post.content.rendered | striptags }}</div>
				</li>
			{% endfor %}
		</ul>
	</section>

	{% include "partials/footer.njk" %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>

<script>
// Only scroll roadmap on desktop
ScrollTrigger.matchMedia({	
  // desktop
  "(min-width: 800px)": function() {
	  /*var roadmapEl = document.getElementById('roadmap');
	  var itemsEl = document.getElementById('roadmapItems');

		var sliderTimelineAccessoires = gsap.timeline({
			scrollTrigger: {
				trigger: '#roadmap',
				scrub: 1,
				stagger: 25,
				pin: '#roadmap',
				start: 'center center',
				end: '100%'
			}})
		sliderTimelineAccessoires.to("#roadmapItems", {x: `-${ itemsEl.offsetWidth - roadmapEl.offsetWidth }px`}) */

		// Pin stats
		gsap.timeline({scrollTrigger: {
			trigger: "#heroSection",
			start: "top top",
			end: "bottom bottom", //function() { return "+=" + (gsap.getProperty("#heroSection", "height") - gsap.getProperty("#stats", "height")) },
			pin: false,
			scrub: true,
			pinReparent: true,
			pin: "#stats"
		}})


	}
});

function animateFrom(elem, direction) {
	direction = direction || 1;

	var x = 0,
		y = direction * 100;
	if(elem.classList.contains("gs_reveal_fromLeft")) {
		x = -100;
		y = 0;
	} else if(elem.classList.contains("gs_reveal_fromRight")) {
		x = 100;
		y = 0;
	}
	gsap.fromTo(elem, {x: x, y: y, autoAlpha: 0}, {
		duration: 1.25,
		x: 0,
		y: 0,
		autoAlpha: 1,
		ease: "expo",
		overwrite: "auto"
	});
}

function hide(elem) {
	console.log('hide');
	gsap.set(elem, {autoAlpha: 0});
}

var frame_count  = 23,
    offset_value = '{{ backgroundSize }}';

// Hercules looking up
gsap.to("#sequence", {
  backgroundPosition: (-offset_value * frame_count) + "vh 50%",
  ease: "steps(" + frame_count + ")", // use a stepped ease for the sprite sheet
  scrollTrigger: {
    trigger: "#heroSection",
    start: "top top",
    end: () => innerHeight * 0.5, //"+=" + (frame_count * 0.9 * offset_value),
    pin: false,
    scrub: true
  }
});

// USPs
var reveals = gsap.utils.toArray(".gs_reveal");
for(var i = 0; i < reveals.length; i++) {
	(function () {
		var elem = reveals[i];
		hide(elem); // assure that the element is hidden when scrolled into view

		ScrollTrigger.create({
			trigger: elem,
			start: "top center+=200",
			onEnter: function() { animateFrom(elem) },
			onEnterBack: function() { animateFrom(elem, -1) },
			onLeave: function() { hide(elem) } // assure that the element is hidden when scrolled into view
		});
	})();
}

// Stats getting unstuck
{# gsap.to("#stats", {
  top: '150px',
  scrollTrigger: {
    trigger: "#heroSection",
    start: "top top",
    end: "bottom bottom",
    pin: false,
    scrub: true
  }
}); #}

// Roadmap horizontal scroll
{# gsap.to("#roadmapItems", {
	xPercent: -100, 
	x: () => innerWidth,
	ease: "none",
	scrollTrigger: {
		trigger: "#roadmap",
		start: "center center",
		end: () => innerWidth * 4,
		scrub: true,
		pin: true,
		invalidateOnRefresh: true,
		anticipatePin: 1
	}
}); #}
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bignumber.js/8.0.2/bignumber.min.js" integrity="sha512-7UzDjRNKHpQnkh1Wf1l6i/OPINS9P2DDzTwQNX79JxfbInCXGpgI1RPb3ZD+uTP3O5X7Ke4e0+cxt2TxV7n0qQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
jQuery(document).ready(function () { 
	if(jQuery("#tvl").length > 0) {
		const queryBody = JSON.stringify({
    	query: `{
    	    factories(first: 1) {
    	        totalValueLockedUSD
				xdp2TotalSupply
				xdp2Staked
    	    }
    	    
            token(id: "0x2f57430a6ceda85a67121757785877b4a71b8e6d") {
                tokenAmount
            } 
    	}`
	});
	
	fetch('https://api.thegraph.com/subgraphs/name/omegasyndicate/defiplaza', {
			method: 'post',
			headers: {
				'Content-Type': 'application/json'
			},
			body: queryBody
		})
		.then(function(result) { return result.json() })
		.then(function(jsonResult) {
		    return jsonResult.data;
		})
	    .then(function(graphData) {
				var tvl = graphData.factories[0].totalValueLockedUSD;
				var size = "M";
				var printableTVL;
				
				if(tvl < 1000000) {
					printableTVL = Math.round(tvl/1000).toFixed(1);
					size = "K"
				} else {
					printableTVL = (Math.round(tvl/10000)/100).toFixed(2);
				}
			
				var formattedTvl = "$" + ("" + printableTVL).substring(0, 4);
			
 				jQuery("#tvl").text(formattedTvl);
 				jQuery("#tvl").removeClass('text-primary-500');
 				jQuery("#tvlSuffix").text(size);
		
				const decimals = 2;
				const ten = BigNumber(10);	
				const multiplier = Math.pow(10, decimals + 2);
				const divider = Math.pow(10, decimals);
				const startTime = 1633514400;
				const tsNow = Math.ceil(+new Date() / 1000);
				const oneYear = 31536000;

				const xdp2TotalSupply = BigNumber(graphData.factories[0].xdp2TotalSupply).times(ten.pow(18));
				const xdp2Staked = BigNumber(graphData.factories[0].xdp2Staked).times(ten.pow(18));;
				const dfp2TokenAmount = BigNumber(graphData.token.tokenAmount).times(ten.pow(18));;
		
				const c1 = BigNumber(100).times(ten.pow(24));
				const c2 = BigNumber(50).times(ten.pow(24));
				const c3 = BigNumber(994519296000000);

				const t1 = BigNumber(Math.min(Math.max(tsNow - startTime, 0), oneYear));
				const dR = c1.div(oneYear).minus(c2.div(c3).times(2).times(t1));

				const aprPermyriad = xdp2TotalSupply
					.times(dR)
					.times(oneYear)
					.times(multiplier)
					.div(dfp2TokenAmount.times(16))
					.div(xdp2Staked);

				const apr = Math.round(aprPermyriad.toNumber() / divider);

				jQuery("#apr").text(apr);
				jQuery("#apr").removeClass('text-primary-500');

				jQuery("#aprUSP").text(apr + '%');
				
 			});
	}

});
</script>

{% endblock %}