---
pagination:
  data: updates
  size: 5
  alias: latest_updates
---
{% extends 'layouts/bare.njk' %}

{% set title = "DefiPlaza: The low-cost exchange on Ethereum" %}
{% set description = "👉 65% cheaper than Uniswap to swap tokens. 👉 Earn a 250% staking APR while passively investing in a basket of 16 ERC-20 tokens!" %}
{% set backgroundSize = "140" %}

{% block bare %}
	{% include "partials/header.njk" %}

	<div class="relative -mt-[71px] pt-[71px] bg-background-500 dark:bg-primary-600" id="heroSection">
		{# Sequence #}
		<div class="fixed top-0 right-0 hero-preload bg-center-top bg-no-repeat bg-static h-[140vh] w-[100vh] z-0 " style="background-size: auto {{ backgroundSize }}vh;" id="heroSequence">&nbsp;</div>

		{# Hero #}
		<section class="relative h-[90vh] md:h-[65vh] mx-auto px-4 md:px-0 flex flex-col justify-center items-center z-10 bg-background-500/50 dark:bg-primary-600/70 md:bg-transparent md:bg-gradient-to-b md:from-background-500/75 dark:md:from-primary-600/75">
			<h1 class="fluid-100 text-center dark:text-white">The <span class="italic font-serif">lowest gas fees</span> of any<br> exchange on Ethereum</h1>
			<h2 class="text-xl mt-4 text-center">Swap, earn &amp; stake with up to <span class="font-bold">65% less costs</span> than UniSwap.</h2>
			<div class="flex flex-row flex-wrap md:flex-nowrap justify-center mt-8">
				<a href="https://app.defiplaza.net/swap" class="btn-primary inline-flex items-center">
					<span class="mt-px whitespace-nowrap">Get started</span>
					{% include "partials/arrow-right.njk" %}
				</a>
				<a href="/help/" class="btn-outline ml-4">
					<span class="mt-px whitespace-nowrap">More information</span>
				</a>

				<div class="flex justify-center items-center w-full md:w-min mt-8 md:mt-0 md:ml-8 space-x-4">
					<p class="text-primary-500 hover:text-primary-300 dark:text-white dark:hover:text-primary-100"><a href="https://discord.gg/GjEPsst58D" target="_blank">{% include 'svg/socials/discord.svg' %}</a></p>
					<p class="text-primary-500 hover:text-primary-300 dark:text-white dark:hover:text-primary-100"><a href="https://twitter.com/defiplaza" target="_blank">{% include 'svg/socials/twitter.svg' %}</a></p>
					<p class="text-primary-500 hover:text-primary-300 dark:text-white dark:hover:text-primary-100"><a href="https://github.com/OmegaSyndicate" target="_blank">{% include 'svg/socials/github.svg' %}</a></p>
				</div>
			</div>
		</section>

		{# USPs #}
		<section class="relative container mx-auto flex flex-col-reverse md:flex-row">
			<div class="md:w-1/2 z-10 bg-white dark:bg-primary-800 md:rounded-tr-3xl md:rounded-br-3xl pt-11 pb-24 md:pt-24 px-4 md:px-20  overflow-hidden">
				<h2 class="fluid-40 dark:text-primary-100">
					<strong class="font-bold text-primary-500 dark:text-white">DefiPlaza</strong> is a decentralized exchange on Ethereum</h2>
				<p class="mt-4">Like other exchanges, it offers trades between tokens by functioning as an Automated Market Maker (AMM).</p>
				<p class="mt-4">What makes DefiPlaza special is a <i>single-contract</i>, <i>highly optimized DEX</i>, designed to offer the lowest possible trade cost to the end user. Gas costs per trade are the lowest in the industry, and the transaction fees are very competitive at 0.1% of value traded.</p>
				<a href="/blog/making-defi-on-ethereum-affordable-again" class="btn-primary rounded-full inline-flex items-center mt-4">
					<span class="mt-px whitespace-nowrap">Read more</span>
					{% include "partials/arrow-right.njk" %}
				</a>

				<hr class="mt-16 border-background-700">

				<div class="mt-16 gs_reveal gs_reveal_fromLeft">
					<h3 class="fluid-30 font-bold text-primary-500 dark:text-white">Swap 65% cheaper</h3>
					<p class="fluid-30 font-light dark:text-primary-100">than any other DEX.</p>
				</div>

				<div class="mt-16 gs_reveal gs_reveal_fromLeft">
					<h3 class="fluid-30 font-bold text-primary-500 dark:text-white">Invest in a basket of 16 tokens</h3>
					<p class="fluid-30 font-light dark:text-primary-100">like an ETF fund.</p>
				</div>

				<div class="mt-16 gs_reveal gs_reveal_fromLeft">
					<h3 class="fluid-30 font-bold text-primary-500 dark:text-white">Stake your tokens</h3>
					<p class="fluid-30 font-light dark:text-primary-100">and receive a <span id="aprUSP"></span> APR.</p>
				</div>
			</div>

			{# Stats #}
			<div class="relative w-full md:w-1/2 z-10">
				<ul class="absolute z-10 bottom-0 md:top-24 md:right-0 w-full md:w-fit max-h-min p-4 md:px-8 grid grid-cols-4 md:grid-cols-2 lg:grid-cols-4 gap-8 bg-primary-500 dark:bg-primary-800 text-white md:rounded-lg text-center" id="stats">
					<li>
						<p class="text-2xl md:text-3xl font-bold whitespace-nowrap">
							<span id="tvl" class="text-primary-500">{% include "partials/loading-indicator.njk" %}</span>
							<span id="tvlSuffix" class="text-base font-light align-middle">&nbsp;</span>
						</p>
						<h3 class="text-sm whitespace-nowrap dark:text-primary-100">Liquidity</h3>
					</li>
					<li>
						<p class="text-2xl md:text-3xl font-bold whitespace-nowrap">120</p>
						<h3 class="text-sm whitespace-nowrap dark:text-primary-100">Trading pairs</h3>
					</li>
					<li>
						<p class="text-2xl md:text-3xl font-bold whitespace-nowrap">0.1<span class="text-base font-light align-middle">%</span></p>
						<h3 class="text-sm whitespace-nowrap dark:text-primary-100">Swapping fee</h3>
					</li>
					<li>
						<p class="text-2xl md:text-3xl font-bold whitespace-nowrap">
							<span id="apr" class="text-primary-500">{% include "partials/loading-indicator.njk" %}</span>
							<span class="text-base font-light align-middle">%</span></p>
						<h3 class="text-sm whitespace-nowrap dark:text-primary-100">APR</h3>
					</li>
				</ul>
			</div>
		</section>
	</div>

	<div class="relative bg-primary-700 w-screen md:-mt-12 overflow-hidden">
		<div class="oval-gradient -top-80 -right-80"></div>
		<div class="oval-gradient -bottom-80 -left-80"></div>

		{# Support #}
		<section class="container flex flex-col mx-auto py-20 mt-20">

			<h2 class="relative md:hidden text-center fluid-40 text-white">Learn how to<br>use <strong>DefiPlaza</strong>.</h2>

			<div class="flex items-center mt-6 md:mt-0 pb-10">

				<div class="hidden md:block px-3">
					<h2 class="mr-32 fluid-40 text-white w-max">Learn how to<br>use <strong>DefiPlaza</strong>.</h2>
				</div>

				<div class="flex items-stretch snap-x snap-mandatory overflow-x-auto ml-4 md:ml-0 py-8 scrollable">
					<div class="flex flex-nowrap">
						{% for section in helpsections %}
							<div class="z-10 snap-start flex flex-col justify-between h-full w-[150rem] py-16 mx-4 px-8 max-w-xs overflow-hidden rounded-lg shadow-md bg-white dark:bg-primary-800 hover:shadow-xl transition-shadow duration-300 ease-in-out">
								<h3 class="fluid-30 font-bold text-primary-500 dark:text-primary-100"><a href="/help/{{ section.slug }}/">{{ section.name }}</a></h3>
								<p class="mt-4 text-lg">{{ section.description }}</p>
								<a href="/help/{{ section.slug }}/" class="mt-16 btn-primary rounded-full w-min">
									{% include "partials/arrow-right.njk" %}
								</a>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>

			{# Support pillar #}
			<div class="md:container mx-4 md:mx-auto flex flex-wrap items-center mt-16 text-white" id="supportSection">
				<div class="w-full lg:w-1/2 aspect-video" style="background-image: -webkit-image-set( url('/assets/images/home/pillar-sequence@1x.png') 1x, url('/assets/images/home/pillar-sequence@2x.png') 2x); background-size: cover;" id="pillarSequence">&nbsp;</div>
				<div class="mx-auto mt-0 lg:ml-32">
					<h3 class="text-2xl">Are you feeling lost?</h3>
					<p class="mt-2">Make sure to check out our support section.</p>
					<div class="flex space-between-4">
						<a href="/help/" class="btn-white rounded-full mt-4">
							<span class="mt-px whitespace-nowrap">Get Support</span>
							{% include "partials/arrow-right.njk" %}
						</a>
					</div>
				</div>
			</div>
		</section>

		{# Roadmap #}
		<section class="relative min-h-screen w-screen mx-auto flex items-center" id="roadmap">
			<div class="mx-auto">
				<h2 class="mt-20 fluid-40 text-white text-center">
					<strong>Our roadmap.</strong> This is what keeps us busy.</h2>

				<div class="container mx-auto flex snap-x snap-mandatory overflow-x-scroll mt-14 pb-10 md:scrollable" id="roadmap">
					<div class="relative flex flex-wrap md:flex-nowrap items-stretch" id="roadmapItems">

						{% for roadmap in roadmaps %}
							{% if loop.index0 % 4 == 0 %}
								{% set margin = 'md:mt-8' %}
							{% elif loop.index0 % 4 == 1 or loop.index0 % 4 == 3 %}
								{% set margin = 'md:mt-80' %}
							{% elif loop.index0 % 4 == 2 %}
								{% set margin = 'md:mt-32' %}
							{% endif %}

							<div class="relative snap-start md:w-40 overflow-x-visible border-primary-300 mx-4 md:mx-0 md:pb-8 bg-repeat-y" style="background-position: 7px 0px; background-image: url('/assets/images/home/lines.svg'">
								{% if loop.index0 == 0 %}
									<p class="md:absolute md:top-1/3 md:-transform-y-1/2 md:left-16 md:text-9xl text-4xl ml-6 md:ml-0 font-light text-primary-500 z-0">Past</p>
								{% elif loop.index0 % 4 == 3 %}
									<p class="md:absolute md:top-1/3 md:-transform-y-1/2 md:left-16 md:text-9xl text-4xl ml-6 md:ml-0 mt-6 md:mt-0 font-light text-primary-500 z-0">Future</p>
								{% endif %}

								<div class="relative z-10 bg-white dark:bg-primary-800 rounded-lg md:w-80 min-h-40 mt-4 {{ margin }} ml-8 p-6 pr-8">
									<div class="absolute top-5 -left-8 rounded-full w-4 h-4 bg-white dark:bg-primary-100"></div>

									{% if loop.index0 % 4 == 2 %}
										<div class="hidden md:block absolute w-0.5 h-16 bg-white dark:bg-primary-100 -top-16 left-[100px]"></div>
										<div class="hidden md:block absolute w-0.5 h-24 bg-white dark:bg-primary-100 -bottom-24 left-[100px]"></div>
									{% endif %}

									<h3 class="text-lg text-primary-500 dark:text-white">
										<strong class="dark:text-primary-100">{{ roadmap.acf.roadmap_item_date }}</strong>
										{{ roadmap.title.rendered | safe }}</h3>
									<p class="text-xs mt-4">{{ roadmap.excerpt.rendered | striptags }}</p>
								</div>
							</div>

							{% if loop.index0 % 2 == 1 or loop.index0 % 4 == 2 %}
								<div class="hidden md:block w-40 h-full overflow-x-visible ml-4 pb-8 bg-repeat-y" style="background-position: 7px 0px; background-image: url('/assets/images/home/lines.svg'">&nbsp;</div>
							{% endif %}

						{% endfor %}
					</div>
				</div>
			</div>
		</section>

		{# Latest Updates #}
		<section class="relative w-screen mx-auto pt-32">
			<div class="flex justify-center space-x-8">
				<h2 class="fluid-40 text-white text-center">Latest news from <strong>DefiPlaza</strong>.</h2>
				<a href="/update/" class="btn-primary bg-primary-300 dark:bg-white rounded-full hidden md:inline-flex items-center">
					<span class="mt-px whitespace-nowrap">All updates</span>
					{% include "partials/arrow-right.njk" %}
				</a>
			</div>
			<ul class="md:w-3/5 mx-4 md:mx-auto mt-10 px-4 md:px-8 bg-white dark:bg-primary-800 rounded-lg divide-y divide-primary">
				{% for post in latest_updates %}
					<li class="py-8">
						<h3 class="text-primary-500 dark:text-white font-bold text-2xl">
							<a href="/update/{{ post.slug }}" class="hover:underline">{{ post.title.rendered | safe }}</a>
						</h3>
						<p class="text-primary-500 dark:text-primary-100 text-xs mt-2">{{ post._embedded.author[0].name }} - {{ post.date | wpDateToString }}</p>
						<div class="mt-2 line-clamp-3">{{ post.content.rendered | striptags }}</div>
					</li>
				{% endfor %}
			</ul>
		</section>

		{% include "partials/footer.njk" %}
	</div>

	<script async src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js" onload="setupGsap()"></script>
	<script async src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js" onload="setupScrollTrigger()"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bignumber.js/8.0.2/bignumber.min.js" integrity="sha512-7UzDjRNKHpQnkh1Wf1l6i/OPINS9P2DDzTwQNX79JxfbInCXGpgI1RPb3ZD+uTP3O5X7Ke4e0+cxt2TxV7n0qQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script>
		var gsapLoaded = false;
		var scrollTriggerLoaded = false;

		function setupGsap() {
			gsapLoaded = true;

			setupAnimations();
		}

		function setupScrollTrigger() {
			scrollTriggerLoaded = true;

			setupAnimations();
		}

		function setupAnimations() {
			if(!gsapLoaded) {
				return;
			}
			if(!scrollTriggerLoaded) {
				return;
			}

			// Load Hercules sequence
			document.getElementById('heroSequence').classList.add('hero-sequence');

			ScrollTrigger.matchMedia({
				// desktop
				"(min-width: 800px)": function () {
					// Pin stats
					gsap.timeline({
						scrollTrigger: {
							trigger: "#heroSection",
							start: "top top",
							end: "bottom bottom+=100px", //function() { return "+=" + (gsap.getProperty("#heroSection", "height") - gsap.getProperty("#stats", "height")) },
							pin: false,
							scrub: true,
							pinReparent: true,
							pin: "#stats"
						}
					})
				}
			});

			// Hercules looking up
			var hero_frame_count = 23,
				hero_offset_value = '{{ backgroundSize }}';

			gsap.to("#heroSequence", {
				backgroundPosition: (-hero_offset_value * hero_frame_count) + "vh 50%",
				ease: "steps(" + hero_frame_count + ")", // use a stepped ease for the sprite sheet
				scrollTrigger: {
					trigger: "#heroSection",
					start: "top top",
					end: () => innerHeight * 0.5, //"+=" + (frame_count * 0.9 * offset_value),
					pin: false,
					scrub: true
				}
			});

			// Pillar opening up
			var pillar_frame_count = 23,
				pillar_offset_value = document.getElementById('pillarSequence').offsetHeight;

			gsap.to("#pillarSequence", {
				backgroundPosition: "50% " + (-pillar_offset_value * pillar_frame_count) + "px",
				ease: "steps(" + pillar_frame_count + ")", // use a stepped ease for the sprite sheet
				scrollTrigger: {
					trigger: "#supportSection",
					start: "top 75%",
					end: "center center",
					pin: false,
					scrub: true
				}
			});

			// USPs
			function animateFrom(elem, direction) {
				direction = direction || 1;

				var startX,
					endX = 0,
					startY,
					endY = 0
				startAlpha = 0,
				endAlpha = 1;

				if (elem.classList.contains("gs_reveal_fromLeft")) {
					startX = -100;
					startY = 0;
				} else if (elem.classList.contains("gs_reveal_fromRight")) {
					startX = 100;
					startY = 0;
				}

				if (direction == -1) {
					startAlpha = 1;
					endAlpha = 0;

					endX = startX;
					startX = 0

					endY = startY;
					startY = 0;
				}

				gsap.fromTo(elem, {
					x: startX,
					y: startY,
					autoAlpha: startAlpha
				}, {
					duration: 1.25,
					x: endX,
					y: endY,
					autoAlpha: endAlpha,
					ease: "expo",
					overwrite: "auto"
				});
			}

			function hide(elem) {
				gsap.set(elem, {autoAlpha: 0});
			}

			var reveals = gsap.utils.toArray(".gs_reveal");
			for (var i = 0; i < reveals.length; i++) {
				(function () {
					var elem = reveals[i];
					hide(elem); // assure that the element is hidden when scrolled into view

					ScrollTrigger.create({
						trigger: elem,
						start: "top 90%",
						onEnter: function () {
							animateFrom(elem)
						},
						//onEnterBack: function() { console.log('onEnterBack', elem); animateFrom(elem, -1) },
						//onLeave: function() { console.log('onLeave', elem); hide(elem) },  assure that the element is hidden when scrolled into view
						onLeaveBack: function () {
							animateFrom(elem, -1)
						}
					});
				})();
			}
		};
	</script>

	{# Fetch stats from TheGraph #}
	<script type="text/javascript">
		document.addEventListener("DOMContentLoaded", function () {
			const queryBody = JSON.stringify({query: `{
			factories(first: 1) {
				totalValueLockedUSD
				xdp2TotalSupply
				xdp2Staked
			}
			
				token(id: "0x2f57430a6ceda85a67121757785877b4a71b8e6d") {
					tokenAmount
				} 
		}`});

			fetch('https://api.thegraph.com/subgraphs/name/omegasyndicate/defiplaza', {
				method: 'post',
				headers: {
					'Content-Type': 'application/json'
				},
				body: queryBody
			})
				.then(function (result) {
					return result.json()
				})
				.then(function (jsonResult) {
					return jsonResult.data;
				})
				.then(function (graphData) {
					var tvl = graphData
						.factories[0]
						.totalValueLockedUSD;
					var size = "M";
					var printableTVL;

					if (tvl < 1000000) {
						printableTVL = Math
							.round(tvl / 1000)
							.toFixed(1);
						size = "K"
					} else {
						printableTVL = (Math.round(tvl / 10000) / 100).toFixed(2);
					}

					var formattedTvl = "$" + (
					"" + printableTVL).substring(0, 4);

					const tvlEl = document.getElementById("tvl");
					tvlEl.innerText = formattedTvl;
					tvlEl
						.classList
						.remove('text-primary-500');
					document
						.getElementById("tvlSuffix")
						.innerText = size;

					const decimals = 2;
					const ten = BigNumber(10);
					const multiplier = Math.pow(10, decimals + 2);
					const divider = Math.pow(10, decimals);
					const startTime = 1633514400;
					const tsNow = Math.ceil(+ new Date() / 1000);
					const oneYear = 31536000;

					const xdp2TotalSupply = BigNumber(graphData.factories[0].xdp2TotalSupply).times(ten.pow(18));
					const xdp2Staked = BigNumber(graphData.factories[0].xdp2Staked).times(ten.pow(18));;
					const dfp2TokenAmount = BigNumber(graphData.token.tokenAmount).times(ten.pow(18));;

					const c1 = BigNumber(100).times(ten.pow(24));
					const c2 = BigNumber(50).times(ten.pow(24));
					const c3 = BigNumber(994519296000000);

					const t1 = BigNumber(Math.min(Math.max(tsNow - startTime, 0), oneYear));
					const dR = c1
						.div(oneYear)
						.minus(c2.div(c3).times(2).times(t1));

					const aprPermyriad = xdp2TotalSupply
						.times(dR)
						.times(oneYear)
						.times(multiplier)
						.div(dfp2TokenAmount.times(16))
						.div(xdp2Staked);

					const apr = Math.round(aprPermyriad.toNumber() / divider);

					const aprEl = document.getElementById("apr");
					aprEl.innerText = apr;
					aprEl
						.classList
						.remove('text-primary-500');

					document
						.getElementById("aprUSP")
						.innerText = apr + '%';
				});
		});
	</script>

{% endblock %}