<footer class="bg-primary-dark pt-20 pb-8">	
	<section class="container mx-auto flex justify-center items-center">
		<a href="/"><img src="/assets/images/logo/icon.png" srcset="/assets/images/logo/icon@2x.png 2x, /assets/images/logo/icon@3x.png 3x" class="w-100 mr-8"></a>

		<nav>
			<ul class="flex justify-center text-white">
				<li class="px-4"><a href="/">About</a></li>
				<li class="px-4"><a href="/">Blog</a></li>
				<li class="px-4"><a href="/">Contact</a></li>
				<li class="px-4"><a href="/">Disclaimer</a></li>
				<li class="px-4"><a href="/">Audit Report</a></li>
				<li class="px-4"><a href="/">Governance</a></li>
				<li class="px-4"><a href="/">Developer</a></li>
				<li class="px-4"><a href="/">Roadmap</a></li>
			</ul>
		</nav>

		{% include "partials/socials.njk" %}
	</section>

	<section class="container mx-auto mt-6 flex justify-center items-center text-white">
		<p>DFP2 Listed on</p>
		<nav>
			<ul class="flex justify-center text-white">
				<li class="px-4"><a href="/"><img src=""></a></li>
				<li class="px-4"><a href="/"><img src=""></a></li>
				<li class="px-4"><a href="/"><img src=""></a></li>
				<li class="px-4"><a href="/"><img src=""></a></li>
				<li class="px-4"><a href="/"><img src=""></a></li>
				<li class="px-4"><a href="/"><img src=""></a></li>
			</ul>
		</nav>

		<p>Exchange on</p>
		<nav>
			<ul class="flex justify-center text-white">
				<li class="px-4"><a href="/"><img src=""></a></li>
				<li class="px-4"><a href="/"><img src=""></a></li>
				<li class="px-4"><a href="/"><img src=""></a></li>
				<li class="px-4"><a href="/"><img src=""></a></li>
				<li class="px-4"><a href="/"><img src=""></a></li>
				<li class="px-4"><a href="/"><img src=""></a></li>
			</ul>
		</nav>
	</section>
</footer>