<footer class="pt-20 pb-8 relative ">	
	<section class="container mx-auto flex flex-row flex-wrap justify-around lg:justify-center items-center {% if page.url == "/" %}text-white{% else %}text-primary-500 dark:text-white{% endif %}">
		<a class="hidden lg:flex mr-8" href="/">
			{% include 'svg/logo/icon.svg' %}
		</a>

		<ul class="lg:flex lg:flex-wrap justify-center {% if page.url == "/" %}text-white{% else %}text-black{% endif %} dark:text-white">
			<li class="px-4 hover:underline"><a href="/help/what-is-defiplaza/">About</a></li>
			<li class="px-4 hover:underline"><a href="/tokens/">Tokens</a></li>
			<li class="px-4 hover:underline"><a href="/contact/">Contact</a></li>
			<li class="px-4 hover:underline"><a href="/help/disclaimer/">Disclaimer</a></li>
		</ul>
		
		<ul class="lg:flex lg:flex-wrap justify-center {% if page.url == "/" %}text-white{% else %}text-black{% endif %} dark:text-white">
			<li class="px-4 hover:underline"><a href="/#roadmap">Roadmap</a></li>
			<li class="px-4 hover:underline"><a href="https://github.com/pessimistic-io/audits/blob/main/DeFi%20Plaza%20Security%20Analysis%20by%20Pessimistic.pdf">Audit Report</a></li>
			<!--<li class="px-4 hover:underline"><a href="https://status.defiplaza.net/">Status Page</a></li>-->
			<li class="px-4 hover:underline"><a href="/whitepaper/">White Paper</a></li>
			<li class="px-4 hover:underline"><a href="/developer/">Developer</a></li>
		</ul>

		<div class="flex justify-center items-center w-full lg:w-min mt-8 lg:mt-0 lg:ml-8 space-x-4">
			<p class="{% if page.url == "/" %}text-white hover:text-primary-200 dark:text-white{% else %}text-primary-500 hover:text-primary-300 dark:text-white dark:hover:text-primary-100{% endif %}"><a href="https://t.me/defiplaza" target="_blank">{% include 'svg/socials/telegram.svg' %}</a></p>
			<p class="{% if page.url == "/" %}text-white hover:text-primary-200 dark:text-white{% else %}text-primary-500 hover:text-primary-300 dark:text-white dark:hover:text-primary-100{% endif %}"><a href="https://twitter.com/defiplaza" target="_blank">{% include 'svg/socials/twitter.svg' %}</a></p>
			<p class="{% if page.url == "/" %}text-white hover:text-primary-200 dark:text-white{% else %}text-primary-500 hover:text-primary-300 dark:text-white dark:hover:text-primary-100{% endif %}"><a href="https://defiplaza.net/discord" target="_blank">{% include 'svg/socials/discord.svg' %}</a></p>
			<p class="{% if page.url == "/" %}text-white hover:text-primary-200 dark:text-white{% else %}text-primary-500 hover:text-primary-300 dark:text-white dark:hover:text-primary-100{% endif %}"><a href="https://github.com/OmegaSyndicate" target="_blank">{% include 'svg/socials/github.svg' %}</a></p>
		</div>
	</section>


	<section class="container mx-auto mt-20 lg:mt-12 flex flex-wrap justify-center items-center {% if page.url == "/" %}text-white dark:text-white{% else %}text-primary-500 dark:text-white{% endif %}">
		<nav class="w-full lg:w-max">
			<ul class="flex justify-center items-center mb-8 lg:mb-0">
				<li>DFP2 Listed on</li>
				<li class="mx-2"><a href="https://coinmarketcap.com/currencies/defiplaza/">{% include 'svg/listings/cmc.svg' %}</a></li>
				<li class="mx-2"><a href="https://www.coingecko.com/en/coins/defiplaza">{% include 'svg/listings/coingecko.svg' %}</a></li>
				<li class="mx-2"><a href="https://blockfolio.com/coin/DFP2">{% include 'svg/listings/ftx.svg' %}</a></li>
				<li class="mx-2"><a href="https://www.dextools.io/app/ether/pair-explorer/0x820d74078eb4c94e24ef0bcc8ccf848a238f473e">{% include 'svg/listings/dextools.svg' %}</a></li>
				<li class="mx-2"><a href="https://nomics.com/assets/dfp2-defiplaza">{% include 'svg/listings/nomics.svg' %}</a></li>
				<li class="mx-2"><a href="https://www.livecoinwatch.com/price/DefiPlaza-DFP2">{% include 'svg/listings/livecoinwatch.svg' %}</a></li>
				<li class="mx-2"><a href="https://vulkania.io/coins/defiplaza">{% include 'svg/listings/vulkania.svg' %}</a></li>
			</ul>
		</nav>

		<nav class=" w-full lg:w-max">
			<ul class="flex justify-center items-center">
				<li class="lg:ml-8">Exchange on</li>
				<li class="mx-2"><a href="https://nomics.com/exchanges/defiplaza">{% include 'svg/listings/nomics.svg' %}</a></li>
				<li class="mx-2"><a href="https://www.coingecko.com/en/exchanges/defi_plaza">{% include 'svg/listings/coingecko.svg' %}</a></li>
				<li class="mx-2"><a href="https://defillama.com/protocol/defiplaza">{% include 'svg/listings/defillama.svg' %}</a></li>
				<li class="mx-2"><a href="https://dappradar.com/ethereum/exchanges/defi-plaza">{% include 'svg/listings/dappradar.svg' %}</a></li>
			</ul>
		</nav>
	</section>
</footer>