<header class="sticky top-0 z-50 {% if page.url == "/" %}bg-background-500 dark:bg-primary-600{% else %}bg-white dark:bg-primary-800{% endif %}" id="headerMenu">
    <nav class="px-4 xl:container xl:mx-auto py-4 xl:px-0 flex flex-wrap items-center justify-between">
        <a href="/" class="flex justify-center">
          <span class="text-primary-500 dark:text-slate-200">{% include 'svg/logo/logo.svg' %}</span>
        </a>

        <ul class="absolute md:relative left-0 top-12 md:top-0 md:flex flex-col md:flex-row flex-center order-last md:order-none w-full md:w-min space-y-4 md:space-y-0 py-4 md:py-0 border-b md:border-0 border-primary-700 transition-transform ease-out overflow-hidden origin-top transform scale-y-0 md:scale-y-100 {% if page.url == "/" %}bg-background-500 dark:bg-primary-600{% else %}bg-white dark:bg-primary-800{% endif %}" id="menu">
            <li class="mx-4 pt-0.5 border-b-2 border-transparent hover:border-primary-500 dark:hover:border-primary-200 {{ 'border-primary-500 dark:border-primary-200' if '/update/' in page.url }}"><a href="/update/" class="block w-full md:w-min">News</a></li>
            <li class="mx-4 pt-0.5 border-b-2 border-transparent hover:border-primary-500 dark:hover:border-primary-200 {{ 'border-primary-500 dark:border-primary-200' if '/blog/' in page.url }}"><a href="/blog/" class="block w-full md:w-min">Blog</a></li>
            <li class="mx-4 pt-0.5 border-b-2 border-transparent hover:border-primary-500 dark:hover:border-primary-200 {{ 'border-primary-500 dark:border-primary-200' if '/help/' in page.url }}"><a href="https://docs.defiplaza.net" target="_blank" class="block w-full md:w-min">Docs</a></li>
            <li class="mx-4 pt-0.5 border-b-2 border-transparent hover:border-primary-500 dark:hover:border-primary-200"><a href="https://vote.defiplaza.net/#/" target="_blank" class="block w-full md:w-min">Governance</a></li>
            <li class="mx-4 pt-0.5 border-b-2 border-transparent hover:border-primary-500 dark:hover:border-primary-200 {{ 'border-primary-500 dark:border-primary-200' if '/promotion/' in page.url }}"><a href="/promotion/" class="block w-full md:w-min">Factsheets</a></li>
            <li class="mx-4 pt-0.5 border-b-2 border-transparent hover:border-primary-500 dark:hover:border-primary-200 {{ 'border-primary-500 dark:border-primary-200' if '/stats/' in page.url }}"><a href="https://stats.defiplaza.net/" class="block w-full md:w-min">Analytics</a></li>
        </ul>

        <div class="flex items-center">
          <div class="md:hidden w-8 h-4 mr-4" id="hamburger-container">
              <ul class="hamburger h-4 flex flex-col justify-around">
                  <li id="hamburger-top" class="relative h-0.5 bg-black dark:bg-primary-100 duration-200 ease-in-out"></li>
                  <li id="hamburger-bottom" class="relative h-0.5 bg-black dark:bg-primary-100 duration-200 ease-in-out"></li>
              </ul>
          </div>

          <a href="https://radix.defiplaza.net/liquidity/add" target="_blank" id="launch-app-button" class="btn-primary rounded-full">
              <span class="mt-px whitespace-nowrap">Launch App</span>
          </a>
        </div>
    </nav>
</header>

<script>
  var topBar = document.getElementById("hamburger-top"),
    middleBar = document.getElementById("hamburger-bottom");

  document.getElementById("hamburger-container").addEventListener("click", function() {
    var menu = document.getElementById('menu');
    menu.classList.toggle('scale-y-100');
    menu.style.top = document.getElementById('headerMenu').offsetHeight + 'px';

    if (middleBar.classList.contains("rot-45deg")) {
      topBar.classList.remove("rot45deg");
      middleBar.classList.remove("rot-45deg");
    } else {
      topBar.classList.add("rot45deg");
      middleBar.classList.add("rot-45deg");
    }
  });
</script>