<header class="container mx-auto py-4 px-4 md:px-0 flex items-center justify-between">
    <a href="/"><img src="/assets/images/logo/logo.png" srcset="/assets/images/logo/logo@2x.png 2x, /assets/images/logo/logo@3x.png 3x" class="w-100"></a>

    <ul class="hidden md:flex flex-center">
        <li class="px-4"><a href="/">Updates</a></li>
        <li class="px-4"><a href="/">Help</a></li>
        <li class="px-4"><a href="/">Tokens</a></li>
        <li class="px-4"><a href="/">Analytics</a></li>
    </ul>

    <button class="btn-primary rounded-full">Launch App</button>
</header>