<header class="sticky top-0 z-50 {% if page.url == "/" %}bg-background-500 nodark:bg-backgroundDark-500{% else %}bg-white nodark:bg-slate-800{% endif %}">
    <nav class="container mx-auto py-4 px-4 md:px-0 flex flex-wrap items-center justify-between">
        <a href="/" class="flex justify-center">
          <span class="text-primary-500 nodark:text-slate-200">{% include 'svg/logo/icon.svg' %}</span>
          <span class="font-medium text-2xl ml-2 mt-1">defiplaza</span>
        </a>

        <ul class="hidden md:flex flex-col md:flex-row flex-center order-last md:order-none w-full md:w-min space-y-4 md:space-y-0 pt-4 md:pt-0" id="menu">
            <li class="mx-4 {{ 'border-b-2 border-primary-500' if '/update/' in page.url }}"><a href="/update/">News</a></li>
            <li class="mx-4 {{ 'border-b-2 border-primary-500' if '/blog/' in page.url }}"><a href="/blog/">Blog</a></li>
            <li class="mx-4 {{ 'border-b-2 border-primary-500' if '/help/' in page.url }}"><a href="/help/">Support</a></li>
            <li class="mx-4"><a href="https://snapshot.org/#/realdefiplaza.eth" target="_blank">Governance</a></li>
            <li class="mx-4 {{ 'border-b-2 border-primary-500' if '/stats/' in page.url }}"><a href="/stats/">Analytics</a></li>
        </ul>

        <div class="flex items-center">
          <div class="md:hidden w-8 h-4 mr-4 hamburger-container">
              <ul class="hamburger h-4 flex flex-col justify-around">
                  <li class="relative h-0.5 bg-black duration-200 ease-in-out"></li>
                  <li class="relative h-0.5 bg-black duration-200 ease-in-out"></li>
              </ul>
          </div>

          <a href="https://app.defiplaza.net/swap/" target="_blank" class="btn-primary rounded-full">
              <span class="mt-px whitespace-nowrap">Launch App</span>
          </a>
        </div>
    </nav>
</header>

<script>
$(document).ready(function() {
  //toggle menu
  $(".hamburger-container").click(function() {
    $("#menu").slideToggle();
  });

  //to fix issue that toggle adds style(hides) to nav
  $(window).resize(function() {
    if (window.innerWidth > 1024) {
      $("#menu").removeAttr("style");
    }
  });

  //icon animation
  var topBar = $(".hamburger li:nth-child(1)"),
    middleBar = $(".hamburger li:nth-child(2)");

  $(".hamburger-container").on("click", function() {
    if (middleBar.hasClass("rot-45deg")) {
      topBar.removeClass("rot45deg");
      middleBar.removeClass("rot-45deg");
    } else {
      topBar.addClass("rot45deg");
      middleBar.addClass("rot-45deg");
    }
  });
});
</script>