<div class="flex flex-center items-center mt-8 md:mt-0 md:ml-8 space-x-4">
	<p><a href="https://twitter.com/defiplaza" target="_blank">{% include 'svg/socials/twitter.svg' %}</a></p>
	<p><a href="https://defiplaza.net/discord" target="_blank">{% include 'svg/socials/discord.svg' %}</a></p>
	<p><a href="https://github.com/OmegaSyndicate" target="_blank">{% include 'svg/socials/github.svg' %}</a></p>
</div>