<div class="flex flex-center items-center ml-8 space-x-4">
	<p><a href="https://twitter.com/defiplaza" target="_blank"><img src="/assets/images/socials/twitter.svg"></a></p>
	<p><a href="https://t.me/defiplaza" target="_blank"><img src="/assets/images/socials/telegram.svg"></a></p>
	<p><a href="https://github.com/OmegaSyndicate" target="_blank"><img src="/assets/images/socials/github.svg"></a></p>
</div>